export(start_app)

export(map_attributes)
export(put_item)
export(dynamoHTTP)
export(dataUpload)
export(metadata)
export(splitData)
export(computeDescriptiveStats)

export(eda)
export(eda_ui)
export(eda_server)
export(pca_mod_server)
export(pvalue_heatmap_ui)
export(pvalue_heatmap_server)
export(splom_ui)
export(splom_server)
export(pcaPairs)
export(pcaHeatmap)


export(customTheme)
export(dea)
export(jaccard)
export(generateTopTable)
export(drugHeatmap)
export(biomarkerDiscoveryUI)

export(report_ui)
export(alexa_metadata)
export(alexaEda)
export(alexaDexp)
export(empty_plot)
importFrom(utils, read.csv)
importFrom(utils, write.csv)
importFrom(magrittr, "%>%")
importFrom(gridExtra, tableGrob)
importFrom(ggrepel, geom_text_repel)
