export(dataUpload)
export(patientCharacteristics)
export(splitData)
export(eda)
export(pcaPairs)
export(pcaHeatmap)
export(customTheme)
export(edaTabs)
importFrom(utils, read.csv)
importFrom(lattice, trellis.par.set)
importFrom(caret, featurePlot)
importFrom(magrittr,"%>%")
importFrom(tidyr, gather)
importFrom(RColorBrewer, brewer.pal)
